<div id="playerPage" class="container-fluid d-flex flex-row" style="height: 100%;">  
    {{!-- Stats --}}
    <div id="statsContainer" class="d-flex flex-column justify-content-around p-2 m-2 col-2">
        <ul class="list-group shadow" id="basicInfo">
            <h3 class="text-center text-light bg-gradient p-2 m-0" style="background-color: #751312;">Basic Info</h3>

        <div id="statsContainer" class="d-flex flex-column justify-content-around p-2 m-2 col-2">
            <ul class="list-group shadow" id="basicInfo">
                <h3 class="text-center text-light bg-gradient p-2 m-0" style="background-color: #751312;">Basic Info</h3>
                <li class="list-group-item">Name: {{player.name}}</li>
                <li class="list-group-item">Class: {{player.class.title}}</li>
                <li class="list-group-item">Level: {{player.level}}</li>
            </ul>
            <ul class="list-group shadow" id="baseStats">
                <h3 class="text-center text-light bg-gradient p-2 m-0" style="background-color: #751312;">Base Stats</h3>
                <li class="list-group-item">Attack: <span id="baseAtk">{{player.base_atk}}</span></li>
                <li class="list-group-item">Defense: <span id="baseDef">{{player.base_def}}</span></li>
                <li class="list-group-item">HP: <span id="baseHp">{{player.base_hp}}</span></li>
                <li class="list-group-item">Mana: <span id="baseMana">{{player.base_mana}}</span></li>
            </ul>
            <h3>Armor: {{player.armor.name}}</h3>
            <ul>
                <li>
                    Bonus Defense: {{player.armor.bonus_def}}
                </li>
                <li>
                    Level Requirement: {{player.armor.lvl_req}}
                </li>
            </ul>
        </div>
    
        <div id="itemsAndSpells" class="d-flex flex-column mx-3 justify-content-around col-3">
            
            <div class="m-2 h-50 shadow bg-light" id="equipment">
                <h2 class="text-center text-light bg-gradient p-2" id="equipHead" style="background-color: #751312;">Equpiment</h2>
                <div id="equipmentList" class="px-2">
                    <h3>Weapon: {{player.weapon.name}}</h3>
                    <ul>
                        <li>
                            Bonus Attack: <span id="bonusAtk">{{player.weapon.bonus_atk}}</span>
                        </li>
                        <li>
                            Level Requirement: {{player.weapon.lvl_req}}
                        </li>
                    </ul>
                    <h3>Armor: {{player.armor.name}}</h3>
                    <ul>
                        <li>
                            Bonus Defense: <span id="bonusDef">{{player.armor.bonus_def}}</span>
                        </li>
                        <li>
                            Level Requirement: {{player.armor.lvl_req}}
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="m-2 h-50 shadow bg-light" id="spells">
                <h2 class="text-center text-light bg-gradient p-2" style="background-color: #751312;">Spells</h2>
                <div id="spellsList" class="px-2">
                    {{#each spells as |spell|}}
                    <h4>{{spell.name}}</h4>
                    <ul>
                        <li>Damage: {{spell.damage}}</li>
                        <li>Mana Cost: {{spell.mana_cost}}</li>
                    </ul>
                    {{/each}}
                </div>
            </div>
    
        </div>
    </div>
    {{!-- Player Art --}}
    <div>
        <div id="artContainer" class="container-fluid m-2 d-flex justify-content-center" style="height: auto;">
            <img class="img-fluid h-100 shadow-lg" src="{{player.art}}" alt="player_art">
        </div>
    </div>
</div>

<script src="/js/stats.js"></script>